global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'spark-master'
    static_configs:
      - targets: ['spark-master:8080']

  - job_name: 'spark-worker'
    static_configs:
      - targets: ['spark-worker:8081']

  - job_name: 'mongodb'
    static_configs:
      - targets: ['mongodb-exporter:9216']